{%  extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <div class="border border-dark rounded mt-3">
                <div class="text-center badge-dark">
                  <h4 class="mb-3 pb-1">Contact Form</h4>
                </div>
                <div class="p-3">
                    <form>
                        <div class="form-outline mb-4">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control"/>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" >Email Address</label>
                            <input type="email" class="form-control" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" >Message</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    <div class="content-section">
        <h3>Welcome!</h3>
        <p class='text-muted'>Check out my social media:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a href="https://github.com/wisjhn1721">Github</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="https://www.linkedin.com/in/john-wise-6a9ba3218/">LinkedIn</a>
            </li>
        </ul>
    </div>
{% endblock sidebar %}

{#{% block sidebar %}#}
{#    <div class="content-section">#}
{#        <h3>Welcome!</h3>#}
{#        <p class='text-muted'>Click below to see the projects I've worked on:</p>#}
{#        <ul class="list-group">#}
{#            <li class="list-group-item list-group-item-light"><a href="#">My CV</a></li>#}
{#            <li class="list-group-item list-group-item-light"><a href="#">Perfect Attendance</a></li>#}
{#            <li class="list-group-item list-group-item-light"><a href="#">Jam Pham</a></li>#}
{#        </ul>#}
{#    </div>#}
{#{% endblock sidebar %}#}