{% extends 'base.html' %}

{% block content %}
    <p>Hello and welcome! Click on any links in the navbar in order to  navigate the page.</p>
{% endblock content %}

{% block sidebar %}
    <div class="content-section">
        <h3>Welcome, John!</h3>
        <p class='text-muted'>Choose from the following:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="#">Home Option 1</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Home Option 2</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Home Option 3</a></li>
        </ul>
    </div>
{% endblock sidebar %}