{%  extends 'base.html' %}

{% block content %}
    <div class="container-fluid m-3 p-2 border border-dark rounded">
        <h2>Work Projects</h2>
        <div class="row">
            <div class="col-3">
                <div class="card shadow">
                    <img src="https://raw.githubusercontent.com/wisjhn1721/CS421Lab1/main/static/img/image(2).png" class="card-img-top border-bottom" alt="Newton">
                    <div class="card-body">
                        <h5 class="card-title">Newton</h5>
                        <p class="card-text">A labor planning and auditing tool for Ship Docks across the Amazon NAFC ARS Network.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u>Front End:</u> VBA</li>
                        <li class="list-group-item"><u>Back End:</u> Python, SQL</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="card shadow">
                    <img src="https://raw.githubusercontent.com/wisjhn1721/CS421Lab1/main/static/img/WaspDash%20V2%20Graphical.jpg" class="card-img-top border-bottom" alt="WaspDash">
                    <div class="card-body">
                        <h5 class="card-title">WaspDash</h5>
                        <p class="card-text">A dashboard that displays KPIs that allow Waterspiders to respond the andon events promptly.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u>Front End:</u> React and Bootstrap</li>
                        <li class="list-group-item"><u>Web Framework:</u> Django</li>
                        <li class="list-group-item"><u>Back End Infrastructure:</u> API Gateway, Lambda, Redshift, DynamoDB</li>
                    </ul>
                </div>
            </div>
        </div>

        <h2>Personal Projects</h2>
        <div class="row">
            <div class="col-3">
                <div class="card shadow">
                    <img src="https://raw.githubusercontent.com/wisjhn1721/CS421Lab1/main/static/img/PA.png" class="card-img-top border-bottom" alt="PA">
                    <div class="card-body">
                        <h5 class="card-title">Perfect Attendance</h5>
                        <p class="card-text">An attendance automation and tracking tool which is paired with Canvas to auto-grade course attendance.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u>Front End:</u> Javascript, Bootstrap 4, HTML, CSS</li>
                        <li class="list-group-item"><u>Web Framework:</u> Django</li>
                        <li class="list-group-item"><u>Back End Infrastructure:</u> API Gateway, Lambda, DynamoDB</li>
                        <li class="list-group-item"><u>Github:</u> <a href="https://github.com/wisjhn1721/PerfAtten" class="card-link">PA Repo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="card shadow">
                    <img src="https://raw.githubusercontent.com/wisjhn1721/CS421Lab1/main/static/img/lfo_dsp.png" class="card-img-top border-bottom" alt="LFO">
                    <div class="card-body">
                        <h5 class="card-title">Audio DSP</h5>
                        <p class="card-text">Using digital audio processing to develop new audio effects plug-ins.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u>Language:</u> C++</li>
                        <li class="list-group-item"><u>Software Wrapper:</u> RackAFX</li>
                        <li class="list-group-item"><u>Plug-in Types:</u> VST3, AAX, and AU (OSX or iOS)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

