{%  extends 'base.html' %}

{% block content %}
    <div class="container-fluid m-3 border border-dark rounded">
        <h2>Amazon Projects</h2>
        <div class="row">
            <div class="card m-1" style="width: 24rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/86696725?s=400&u=edef65f13a328b2fc00c65940326866211117e34&v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card m-1" style="width: 24rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/86696725?s=400&u=edef65f13a328b2fc00c65940326866211117e34&v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <h2>UAB Projects</h2>
        <div class="row">
            <div class="card m-1" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/86696725?s=400&u=edef65f13a328b2fc00c65940326866211117e34&v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card m-1" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/86696725?s=400&u=edef65f13a328b2fc00c65940326866211117e34&v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

