{% extends 'base.html' %}

{% block content %}
    <div class="border border-dark rounded p-3 ml-5 mr-5 mt-2 mb-5">
        <div class="text-center">
            <h1>JOHN WISE</h1>
            <div>1721 Hatchett Ave, Tarrant, AL 35217</div>
            <div>205-757-8717   	jdwise1721@gmail.com</div>
            <div class="mb-5"></div>
        </div>

        <div>
        <h3 class="mb-2">EDUCATION</h3>
        Bachelor of Science, August 2014 – December 2018<br>
        University of North Alabama, Florence, AL<br>
        <u>Major:</u> Computer Science<br>
        <u>Minor:</u> Mathematics and Human-Computer Interaction / User Experience (HCI/UX)<br>
            <i>* currently finishing Undergraduate in Computer Science at University of Alabama at Birmingham</i><br><br>
        </div>
        <div>
            <h3 class="mb-2">RELEVANT EXPERIENCE</h3>
            Program Developer, Amazon, Bessemer, AL, April 30th, 2021 - Present
        <ul>
            <li>Software development manager for a team consisting of web developers and AWS solutions architects to create
                a web based labor planning tool called Ingress for the Inbound space of the AR Sortable network.
            </li>
                <ul>
                    <li><u>Web Framework:</u> Django</li>
                    <li><u>Back end:</u> DynamoDB and S3</li>
                    <li><u>Front end:</u> Bootstrap, JavaScript , CSS, HTML</li>
                    <li><u>Deployment Architecture:</u> Docker containers managed using AWS Fargate</li>
                    <li><u>AWS Service Stack:</u> Fargate, Lambda, EventBridge, Kinesis Firehose, and many other services</li>
                    <li><u>Development Methodologies:</u> Agile software development lifecycle and Scrum process framework</li>
                </ul>
            <li>Developed a stow water spider dashboard to display key performance indicators to associates to aid in their
                job performance which has led to a 20% improvement of idle time creating a cost savings of roughly 1 million
                dollars annually for BHM1.
            </li>
                <ul>
                    <li><u>Web Framework:</u> Django
                    <li><u>Back end:</u> DynamoDB and S3
                    <li><u>Front end:</u> Bootstrap, JavaScript , CSS, HTML
                </ul>
            <li>Developed a labor planning and auditing tool called Newton which has been adopted as the standard labor
                planning tool across the AR Sortable network and has allowed teams to meet customer demand by improving operation efficiency.
            </li>
            <ul><li>Python, VBA, SQL</li></ul>
        </ul>
        Data Analyst, Amazon, Bessemer, AL, December, 2020- April 30th, 2021
        <ul>
            <li>Providing Operations Managers with data insights to aid in business related decision-making</li>
            <li>Developing macros to extract data from websites and display by various forms such as web-hooks or data visualizations</li>
            <li>Developed a labor planning and metrics tracking tool called Newton which has been rolled out regionally.</li>
            <li>Developing a mySQL database for our ICQA Andons and a web app in Django to provide to users access to the data.</li>
            <li>Working with various operations teams to create solutions for their business needs by developing tools and
                managing projects so they can overcome production barriers.</li>
        </ul>

        </div>
        <div>
            <h3 class="mb-2">CERTIFICATIONS</h3>
            <ul>
                <li>PCAP- Certified Associate in Python Programming</li>
                <li>AWS Solutions Architect - Associate</li>
                <li>AWS Cloud Practitioner</li>
             </ul>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="content-section">
        <h3>Welcome!</h3>
        <p class='text-muted'>Click below to see the projects I've worked on:</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="#">My CV</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Perfect Attendance</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Jam Pham</a></li>
        </ul>
    </div>
{% endblock sidebar %}